body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

input,
button {
  padding: 10px;
  margin: 5px 0;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 20px 20px; /* Reduzi o padding para deixar menor */
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px; /* Reduzi o padding para deixar menor */
  font-size: 17px; /* Reduzi o tamanho da fonte */
  width: auto; /* Agora o botão se ajusta ao tamanho do texto */
}

button:hover {
  background-color: #0056b3;
  transition: 0.7s;
}

.listausuarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  padding: 15px 20px;
  font-size: 17px;
  width: auto;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 400px;
}
